<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Add Intent</h1>
        <label>Intent Name
          <input type="text" formControlName="name">
        </label>
        <label>Output speech
          <input type="text" formControlName="OutputSpeech">
        </label>


        <div formArrayName="userSays">
          <div *ngFor="let itemrow of rForm.controls.userSays.controls; let i=index" [formGroupName]="i">
            <div class="form-group col-md-8">
              <label>Intent phrase #{{ i + 1 }}</label>
              <div class="input-group">
                <input class="input-group-field" type="text" formControlName="data" placeholder="Full name">
                <span *ngIf="i != 0 " class="input-group-label">
                  <button *ngIf="rForm.controls.userSays.controls.length > 1" (click)="deleteRow(i)" class="button alert">Delete</button>
                </span>
              </div>
            </div>

          </div>
        </div>

        <button type="button" (click)="addNewRow()" class="button primary">Add new intent Phrase</button>


        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}</h1>

      <p>{{ description }}</p>
    </div>
  </div>
</ng-template>